extends layout

block main-content
    h5 Chose an option
    div#admin-index.list-group
        a.list-group-item(href="/admin/openTickets") Show Open Tickets
        a.list-group-item(href="/admin/searchTicket") Search for a Ticket