extends layoutLoggedIn

block main-content
    form#request-form.form-control(action='/client/request' method='post')
        legend Submit a Request
        div.mb-3.col-lg-3.col-md-4.col-sm-6
            label.form-label(for="subject") Subject
            input.form-control(type="text" name="subject")
        div.mb-3.col-lg-3.col-md-4.col-sm-6
            label.form-label(for="details") Detailed Explanation
            textarea.form-control(rows="5" name="details")
        div.mb-3.w-25
            input.btn.btn-dark(type='submit' value='OK')